.highlight-container {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.highlight-text {
  position: relative;
}

.highlight-text.highlighted:before {
  width: 100%;
}

.highlight-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: yellow;
  z-index: -1;
  transition: width 0.3s;
}
